.btn{
    width: 30vw;
}
.list{
        display: flex;
        margin: 0 auto;
        width: 50%;
        justify-content: space-between;
        padding:  0 50px;
        border: 1px solid #17a2b8;
        border-radius: 10px;
        margin-bottom: 10px;
}
@media only screen and (max-width: 600px)  {
    .list{
        width: 80%;
    }
  }